body{
    background-color: white;
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }


div.content{
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

div.a{
    background-image: url(images/map.jpg);
    filter: blur(2px);
    -webkit-filter: (2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.a-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.button{ /*button for search */
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 50px;
    font-size: 16px;
    cursor: pointer;
}

div.address{
    background-image: url(images/parkinglot.jpg);
    filter: blur(2px);
    -webkit-filter: (2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button2{ /*button to confirm address */
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 50px;
    font-size: 16px;
    cursor: pointer;
}

.parkingbg{
    background-color: lightblue;
}

.parking{
    color: black;
    font-size: 30px;
    font-family:'Bangers', cursive;
    text-align: left;
}

.dontknow{
    color: black;
    font-size: 25px;
    font-family:'Bangers', cursive;
    text-align: left;
}

.dk{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family:'Bangers', cursive;
    text-decoration: none;
    display: inline-block;
    margin: 4px 50px;
    font-size: 16px;
    cursor: pointer;
}

